<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <title>GYerp-其他入库单新增</title>
</head>
<body>

<form th:action="@{/erp/stockOtherIn}" method="get">
    <table width="435 px" border=1>
		<title>表头数据</title>
        <tr>
            <td>appkey</td>
            <td><input type="text" name="appkey" value="157516"><br/></td>
        </tr>
        <tr>
            <td>sessionkey</td>
            <td><input type="text" name="sessionkey" value="f6acc7ce597d4d07999bdbf8acef2d03"><br/></td>
        </tr>
        <tr>
            <td>secret</td>
            <td><input type="text" name="secret" value="6de56616f8aa4c56ba49109bd55e3b61"><br/></td>
        </tr>
        <tr>
            <td>method</td>
            <td><input type="text" name="method" value="gy.erp.stock.other.in.add"><br/></td>
        </tr>
        <tr>
            <td>入库类型代码</td>
            <td><input type="text" name="type" value="QTRK"><br/></td>
        </tr>
        <tr>
            <td>备注</td>
            <td><input type="text" name="note" value="测试xx"><br/></td>
        </tr>
        <tr>
            <td>仓库编码</td>
            <td><input type="text" name="warehouse_code" value="xx001"><br/></td>
        </tr>

        <tr>
            <td>第三方系统单号</td>
            <td><input type="text" name="wms_bizcode" value=""><br/></td>
        </tr>
    </table>
	<table width="435 px" border=1>
		<title>明细行数据</title>
		<tr>
			<td align="center">item_code</td>
			<td align="center">sku_code</td>
			<td align="center">qty</td>
			<td align="center">uniqueCode</td>
			<td align="center">batchNumber</td>
			<td align="center">manufacturingDate</td>
			<td align="center">shelfLife</td>
			<td align="center">stockDate</td>
			<td align="center">note</td>
		</tr>
		<tr th:each="details,liststat:${detailsList}">
			<td><input type="text" th:attr="name='details['+${liststat.index}+'].item_code'" th:value="${details.item_code}"><br/></td>
			<td><input type="text" th:attr="name='details['+${liststat.index}+'].sku_code'" th:value="${details.sku_code}"><br/></td>
			<td><input type="text" th:attr="name='details['+${liststat.index}+'].qty'" th:value="${details.qty}"><br/></td>
			<td><input type="text" th:attr="name='details['+${liststat.index}+'].uniqueCode'" th:value="${details.uniqueCode}"><br/></td>
			<td><input type="text" th:attr="name='details['+${liststat.index}+'].batchNumber'" th:value="${details.batchNumber}"><br/></td>
			<td><input type="text" th:attr="name='details['+${liststat.index}+'].manufacturingDate'" th:value="${details.manufacturingDate}"><br/></td>
			<td><input type="text" th:attr="name='details['+${liststat.index}+'].shelfLife'" th:value="${details.shelfLife}"><br/></td>
			<td><input type="text" th:attr="name='details['+${liststat.index}+'].stockDate'" th:value="${details.stockDate}"><br/></td>
			<td><input type="text" th:attr="name='details['+${liststat.index}+'].note'" th:value="${details.note}"><br/></td>
		</tr>
    <input type="button" value="新增行明细">
	</table>
	<input type="submit" value="新增其他入库单">
</form>
</body>
</html>